/* This is my custom style */
.main-page {
	padding-top:0;
}

body {
	padding-top:70px; /*70px*/
	padding-bottom: 40px;
	color: #FAFAFA;
	background-color: #162636;
}

.legal-description {
	text-align: center;
}

#myPicture {
	height: 250px;
	width: 180px;
	min-width: 140px;
	vertical-align: middle;
}

#social-icons {
	width: 8px;
	height: 16px
}

#social-button {
	 width: 8em;
}
#resume {
	/*background:#182838;*/
	background: #182838;
	margin: 0px;
}

.tab-pane {
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
	padding: 0.8em;
}
/*
 #top-left-nav {
 padding-right: 10px;
 }


/* CUSTOMIZE THE CONTACT FORM
 * ----------------------------------------------------
 */

#contact-page {
	padding-top:50px;
}
.not-found {

	color:#162636;
}



 /* CUSTOMIZE THE NAVBAR
 * ----------------------------------------------------
 */

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-wrapper .navbar .container {
	width: auto;
}

/* CUSTOMIZE THE CAROUSEL
 * -----------------------------------------------------
 */

.carousel {
	height: 490px;
	margin-bottom: 60px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 500px;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
	opacity: 0.8;
	filter: brightness(0.8);
	-webkit-filter: brightness(80%);
}

/* BLOG POSTS
 * ---------------------------------------------------------
 */

.blog-main {
	background-color:#203141;
	color:#021515;
	padding-top:15px;
}
.blog-post {
	background-color:#FAFAFA;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}




/* RESPONSIVE CSS
 * ----------------------------------------------------------
 */

@media (min-width: 768px) {

	.navbar-wrapper {
		margin-top: 20px;
	}

	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}

	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}

	#social-icons {
		width: 12px;
		height: 16px
	}

}

@media (min-width:1000px){
	#social-button {
	 width: 12em;
}
}


