body {
	background-image: url('../img/dark_leather.png');
	color: #cccccc;
}

h1 {

}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.normal-margin{
	margin-left: 10px;
}

#title {
	padding-top:15px;
	padding-bottom: 20px;
	color: #cccccc;

}

#divisor {
	padding-top:15px;
	padding-bottom: 15px;	
}

#contact-info {

}

#label-container {
	padding-top: 15px;
}

#contact-label{
	margin-top: 10px;
	margin-bottom: 10px;
}